@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(../fonts/Montserrat400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat600.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Montserrat', Helvetica, Arial;
    letter-spacing: 0.1em;
    line-height: 1.4;
    height: 300vh;
}

.header {
    --mainColor: rgb(100, 100, 100);
    --background-color-secondary: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    line-height: 3em;
    background-color: var(--background-color-secondary);
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: white;
    z-index: 1;
}

.header__button {
    position: absolute;
    right: 0;
}

.header__button.is-active + .nav {
    display: block;
}

.header__button.is-active + .nav > .menu {
    max-height: 100vh;
}

.nav {
    margin: 0 auto;
    padding-top: 3em;
}

.menu {
    background-color: var(--background-color-secondary);
    height: 100vh;
    max-height: 0;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
}

@media screen and (min-width: 600px) {
    .header__button {
        display: none;
    }

    .nav {
        width: 30em;
        padding-top: 0;
    }

    .menu {
        display: flex;
        max-height: initial;
        height: initial;
    }
}

.menu__item {
    flex-basis: 100%;
    text-align: center;
    background: linear-gradient(
        to bottom, var(--mainColor) 0%,
        var(--mainColor) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size 0.5s;
}

.menu__item:hover {
    background-size: 4px 50px;
}

.menu__link {
    color: white;
    text-decoration: none;
    display: block;
}

.top {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 4em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.top__jambo {
    font-size: 3em;
    letter-spacing: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.top__title {
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.top__title::before,
.top__title::after {
    content: "";
    position: absolute;
    width: 6em;
    height: 1em;
    bottom: 0.5em;
    border-bottom: 4px double black;
    box-sizing: border-box;
}

.top__title::before {
    left: -7.5em;
}

.top__title::after {
    right: -7.5em;
}

.top__hero {
    margin: 1em;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 0;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0.3em 0.3em 0 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--mainColor);
}
  
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
}
  
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: var(--mainColor);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
      
.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
