html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', Helvetica, Arial;
    letter-spacing: 0.1em;
    line-height: 1.4;
    height: 300vh;
}

.anchor {
    position: absolute;
    top: 0;
}

.animate {
    animation: none !important;
}
